
*.out

*.log

*.aux

*.xdv

references/

*.txss

*.tex~

cv-b/

cv-a/

*.md~

archive/

.gitignore~

stuff

learningskills.tex

experimental-stuff/

learning-skills.tex

ico/pdf-alt.png

main.synctex.gz

main.pdf

removed-unused-text.txt
