
*.out

*.log

*.aux

*.xdv

references/

*.txss

*.tex~

cv-b/

cv-a/

*.md~

archive/

.gitignore~

stuff

learningskills.tex

experimental-stuff/

learning-skills.tex

ico/pdf-alt.png

main.synctex.gz

main.pdf

removed-unused-text.txt

*.gz

mom/

kiril-references/

export-latest/0547416061-Uribsky-Alisa-Tourism-Resume.pdf
